In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("Allmusics.csv")
df.head(5)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.137110,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.263240,world/life,1.0
2,6,johnnie ray,cry,1950,pop,sweetheart send letter goodbye secret feel bet...,24,0.002770,0.002770,0.002770,...,0.002770,0.225422,0.456298,0.585288,0.840361,0.000000,0.351814,0.139112,music,1.0
3,10,pérez prado,patricia,1950,pop,kiss lips want stroll charm mambo chacha merin...,54,0.048249,0.001548,0.001548,...,0.225889,0.001548,0.686992,0.744404,0.083935,0.199393,0.775350,0.743736,romantic,1.0
4,12,giorgos papadopoulos,apopse eida oneiro,1950,pop,till darling till matter know till dream live ...,48,0.001350,0.001350,0.417772,...,0.068800,0.001350,0.291671,0.646489,0.975904,0.000246,0.597073,0.394375,romantic,1.0

In [17]:
new_df= df.iloc[0:1000]
new_df.shape

(1000, 31)

In [18]:
music= new_df[['artist_name', 'track_name', 'genre', 'lyrics', 'topic']]
music.sample(5)

,artist_name,track_name,genre,lyrics,topic
381,sam cooke,soul,pop,go corner homeboys welcome feel isolation gues...,music
512,harry belafonte,bally mena,pop,bally mena bally mena bally mena harbor bally ...,violence
738,the beach boys,in my room (mono),pop,world tell secrets room room world lock worry ...,sadness
573,johnny tillotson,dreamy eyes,pop,dreamy eye dreamy eye away bluuue home feel re...,romantic
138,lavern baker,still,pop,place darling miss magic touch need share embr...,romantic

In [19]:
music['tags']= music['topic']+music['artist_name']+music['genre']+music['lyrics']
new= music.drop(columns=['topic','genre','lyrics','artist_name'])
new.sample(5)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10364\3790453881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  music['tags']= music['topic']+music['artist_name']+music['genre']+music['lyrics']

,track_name,tags
494,emotions,sadnessbrenda leepopemetions know know ruin cr...
402,venus,romanticsam cookepopdream come true send littl...
163,there goes my baby,obscenericky nelsonpopgo baby goin ride yeah g...
793,you've really got a hold on me,romanticthe supremespopalright like think trea...
100,remember me (the girl in the wood),world/lifefrankie lainepopyoung drive mother w...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [21]:
vector = cv.fit_transform(new['tags']).toarray()

In [22]:
vector.shape

(1000, 5000)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
similarity=cosine_similarity(vector)

In [25]:
similarity

array([[1.        , 0.01604099, 0.2315535 , ..., 0.01095646, 0.03193699,
        0.04001631],
       [0.01604099, 1.        , 0.        , ..., 0.0318024 , 0.00842735,
        0.07039516],
       [0.2315535 , 0.        , 1.        , ..., 0.00794929, 0.16219964,
        0.01612956],
       ...,
       [0.01095646, 0.0318024 , 0.00794929, ..., 1.        , 0.00230245,
        0.05449285],
       [0.03193699, 0.00842735, 0.16219964, ..., 0.00230245, 1.        ,
        0.0023359 ],
       [0.04001631, 0.07039516, 0.01612956, ..., 0.05449285, 0.0023359 ,
        1.        ]])

In [26]:
similarity.shape

(1000, 1000)

In [27]:
def recommend_song(song):
    index = new[new['track_name'] == song].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])[1:6]
    for i in distances:
        print(new.iloc[i[0]].track_name)

In [28]:
recommend_song("there goes my baby")

blood from a stone
the watusi
love me
gone, gone, gone
little baby

In [29]:
recommend_song("love me")

little baby
where did our love go
don't say nothin' bad (about my baby)
blood from a stone
good to my baby

In [30]:
import pickle

In [31]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [32]:
pickle.dump(new.to_dict(),open('songs_dict.pkl','wb'))

In [33]:
new_df.sample(2)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
142,387,les paul,"i surrender, dear",1957,pop,play game stay away cost surrender dear proud ...,36,0.001949,0.001949,0.201662,...,0.450466,0.001949,0.392397,0.623901,0.895582,0.767206,0.257007,0.273251,sadness,0.9
128,352,mohammed rafi,tumsa nahin dekha,1957,pop,rain window tear eye leave pride want leavin b...,91,0.057075,0.000731,0.000731,...,0.349937,0.000731,0.751977,0.676845,0.621486,0.000528,0.971146,0.526512,sadness,0.9

In [56]:
l=new_df[new_df['danceability']>0.5].sort_values('danceability',ascending=False)
l.iloc[0]['track_name']

'all about you'

In [57]:
l=new_df[new_df['sadness']>0.5].sort_values('sadness',ascending=False)
l.iloc[0]['track_name']

"don't throw your love away"